audioread==3.0.1
crepe==0.0.16
flatbuffers==25.2.10
fonttools==4.58.0
importlib_metadata==8.7.0
libclang==18.1.1
librosa==0.11.0
matplot==0.1.9
matplotlib==3.10.3
numba==0.61.2
numpy==2.0.2
pydub==0.25.1
python-dateutil==2.9.0.post0
scikit-learn==1.6.1
scipy==1.15.3
soundfile==0.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0